{% extends 'base.html' %}

<body>
{% block content %}

{% include 'includes/link_to_upload_json.html' %}

<h1>{{ title }}</h1>

<table border="1">
    <tr>
        <th>Модуль</th>
        <th>Функция</th>
        <th>Описание</th>
        <th>Код</th>
    </tr>
    {% for function in functions %}
    <tr>
        <td>{{ function.module }}</td>
        <td>{{ function.name }}</td>
        <td>{{ function.docstring }}</td>
        <td><code>{{ function.code }}</code></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>